@model ProductoCategoria.Models.Producto
@{
    ViewBag.Title = "MostrarModificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductoCategoria.Models.CategoriasProductos> categorias;



    categorias = ViewBag.Categorias;
}

<h2>MostrarModificar Productos</h2>
<div class="row">
    <div class="col-lg-6">
        <form method="post" action="@Url.Action("GuardarModificar", "Productos")">


            <div class="form-group">
                <label for="idProducto">ID Producto</label>
                <input type="number" name="idProducto" class="form-control" value="@Model.id" readonly />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" value="@Model.nombre" />
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" class="form-control">@Model.descripcion</textarea>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" name="precio" class="form-control" value="@Model.precio" />
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="form-control" value="@Model.stock" />
            </div>

            <div class="form-group">
                <label for="idCategoria">Categoría</label>
                <select class="form-control" name="idCategoria">
                    @foreach (ProductoCategoria.Models.CategoriasProductos cat in categorias)
                    {
                        if (Model.idCategoria == cat.Id)
                        {
                            <option value="@cat.Id" selected>@cat.Nombre</option>
                        }
                        else
                        {
                            <option value="@cat.Id">@cat.Nombre</option>
                        }
                    }
                </select>

            </div>

            <input type="submit" value="Guardar" class="btn btn-primary" />
        </form>

    </div>
</div>